<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMSConnectionString" connectionString="Data Source=.\sql2008;Initial Catalog=PMS;Persist Security Info=True;"
            providerName="System.Data.SqlClient" />
        <add name="PMS.Properties.Settings.PMSConnectionString" connectionString="Data Source=.\sql2008;Initial Catalog=PMS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PMS.Properties.Settings.PMSConnectionString1" connectionString="Data Source=MAYTOAN\SQL2008;Initial Catalog=PMS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PMS.Properties.Settings.PMSConnectionString2" connectionString="Data Source=MAYTOAN\SQL2008;Initial Catalog=PMS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PMS.Properties.Settings.PMSConnectionString3" connectionString="Data Source=MAYTOAN\SQL2008;Initial Catalog=PMS;Persist Security Info=True;User ID=sa;Password=$@abc@$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="User" value="sa"/>
    <add key="Pass" value="$@abc@$"/>
    <add key="Phone" value="Phone: 9999999999"/>
    <add key="Address" value="161 Hai Bà Trưng, P6, Q3, TP.HCM"/>
  </appSettings>
</configuration>